<head>
<style type="text/css">
.show_text {
color:#ffffff;
}
.blog_search {
color:#333;
}
body {
    
    background: url(images/img-9.jpg) no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
</head>
<div ng-controller="blogController as ctrl">
<div ng-init="getAllBlog()">

<div class="container">
  <h2 class="text-center">Blog</h2>
  <p class="show_text">Search Blog: <input class="blog_search" type="text" ng-model="sear_text"></p>
  <div ng-repeat="blogDetails in blogs | filter: sear_text">
  <div ng-hide="blogDetails.status =='N' || blogDetails.status =='P'">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>{{blogDetails.title}}</h3></div>
    
    <div ng-maxlength="5" class="panel-body">{{blogDetails.description| limitTo: 400}}
    <div style="float:right;"><a href="#blog/{{blogDetails.id}}" ng-click="single_blog(blogDetails.id)">Read More</a></div></div>
    
    <div class="panel-footer">Author: {{blogDetails.user_id}}  Published On: {{blogDetails.date_time| date:'longDate'}}</div>
  </div>
  </div>
  </div>
</div>
</div>
</div>

